<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>Add Tokens</h1>
    <div class="container">
      <fieldset>
        <form action="/tokens" method="post">
          <input name="name" type="text" class="ghost-input" placeholder="Enter API Name">
          <input name="username" type="text" class="ghost-input" placeholder="Enter API Username">
          <input name="token" type="text" class="ghost-input" placeholder="Enter API Token">
          <input type="submit" class="ghost-button" value="Enter in DB">
        </form>
      </fieldset>
    </div>
  </body>
</html>